* {
    box-sizing: border-box;
}

body {
    display: block;
}

.navbar {
    background-color: #aaa;
    overflow: auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.navbar a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 20px;
}

.navbar a:hover {
    background-color: white;
    color: gray;
}

.second {
    display: none;
}

.main {
    background-color: green;
    border: 15px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 150px;
}

.main p {
    font-size: 25px;
    font-weight: 900;
}

@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-color: burlywood;
    }

    .navbar {
        background-color: #bbb;
    }
}

@media screen and (min-width:600px) and (max-width:768px) {
    body {
        background-color: coral;
    }

    .navbar {
        background-color: #ccc;
        justify-content: space-around;
    }

    .navbar a {
        color: black;
    }
}

@media screen and (max-width:600px) {
    body {
        background-color: purple;
    }

    .navbar {
        background-color: aqua;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
    }

    .navbar a {
        color: black;
    }

    .main {
        background-color: purple;
        border: 15px solid red;
    }

    .first {
        display: none;
    }

    .second {
        display: contents;
    }
}