* {
    box-sizing: border-box;
}

body {
    display: block;
}

.navbar {
    background-color: gray;
    overflow: auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.navbar a:hover {
    background-color: white;
    color: gray;
}

.second {
    display: none;
}

.main {
    background-color: green;
    border: 15px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 150px;
}

.main p {
    font-size: 25px;
    font-weight: 900;
}